@charset "UTF-8";
 .in{
        padding: 17px;
        width: 300px;
        border-left-style:hidden ;
        border-right-style:hidden ;
        border-top-style: hidden ;
        border-bottom-color:gainsboro ;
        font-size: 13px;
    }
    .btn{
        background-color:blue;
        padding: 20px;
        width: 300px;
        border-style: hidden ;
        font-size: 20px;
        color: black;

    }        
    .btn:hover{
        background-color: white;
        color:black;
        border-bottom-color:aliceblue ;
    }
    .div{
       
       background-color: white;
       width: 400px;
       position: absolute;
       margin-left: 800px;
       margin-top: 100px;
       padding: 18px;
       padding-right: -40px;
       box-shadow: 2px 2px 2px 2px gray;
       border-radius: 4px;
       margin-left: 420px;
       margin-top:33px;
       text-align: center;
       
   }
.la{
    position: absolute;
    margin-left:-150px;
}